# API Related
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart
chardet
pandas
openpyxl
python-decouple

# Google Drive API dependencies
google-api-python-client
google-auth-httplib2
google-auth-oauthlib